In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [9]:
import plotly as py
import cufflinks as cf
from plotly.offline import iplot

In [11]:
py.offline.init_notebook_mode(connected=True)
cf.go_offline

In [23]:
matches_df = pd.read_csv("data/matches.csv", parse_dates=['date'], index_col='id')
ball_df = pd.read_csv("data/deliveries.csv")

In [24]:
matches_df.head()

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
id,,,,,,,,,,,,,,,,,
1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [25]:
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 636 entries, 1 to 636
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   season           636 non-null    int64
 1   city             629 non-null    object
 2   date             636 non-null    datetime64[ns]
 3   team1            636 non-null    object
 4   team2            636 non-null    object
 5   toss_winner      636 non-null    object
 6   toss_decision    636 non-null    object
 7   result           636 non-null    object
 8   dl_applied       636 non-null    int64
 9   winner           633 non-null    object
 10  win_by_runs      636 non-null    int64
 11  win_by_wickets   636 non-null    int64
 12  player_of_match  633 non-null    object
 13  venue            636 non-null    object
 14  umpire1          635 non-null    object
 15  umpire2          635 non-null    object
 16  umpire3          0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(11)
memory usage: 89.4+ KB

# Win and Lost Team Analysis

In [26]:
matches_df['result'].value_counts()

normal       626
tie            7
no result      3
Name: result, dtype: int64

In [29]:
matches_df[matches_df['result'] == 'tie']

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
id,,,,,,,,,,,,,,,,,
34,2017,Rajkot,2017-04-29,Gujarat Lions,Mumbai Indians,Gujarat Lions,bat,tie,0,Mumbai Indians,0,0,KH Pandya,Saurashtra Cricket Association Stadium,AK Chaudhary,CB Gaffaney,NaN
126,2009,Cape Town,2009-04-23,Rajasthan Royals,Kolkata Knight Riders,Kolkata Knight Riders,field,tie,0,Rajasthan Royals,0,0,YK Pathan,Newlands,MR Benson,M Erasmus,NaN
190,2010,Chennai,2010-03-21,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,field,tie,0,Kings XI Punjab,0,0,J Theron,"MA Chidambaram Stadium, Chepauk",K Hariharan,DJ Harper,NaN
388,2013,Hyderabad,2013-04-07,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,bat,tie,0,Sunrisers Hyderabad,0,0,GH Vihari,"Rajiv Gandhi International Stadium, Uppal",AK Chaudhary,S Ravi,NaN
401,2013,Bangalore,2013-04-16,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,tie,0,Royal Challengers Bangalore,0,0,V Kohli,M Chinnaswamy Stadium,M Erasmus,VA Kulkarni,NaN
476,2014,Abu Dhabi,2014-04-29,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,tie,0,Rajasthan Royals,0,0,JP Faulkner,Sheikh Zayed Stadium,Aleem Dar,AK Chaudhary,NaN
536,2015,Ahmedabad,2015-04-21,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,field,tie,0,Kings XI Punjab,0,0,SE Marsh,"Sardar Patel Stadium, Motera",M Erasmus,S Ravi,NaN

In [30]:
matches_df[matches_df['result'] == 'no result']

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
id,,,,,,,,,,,,,,,,,
301,2011,Delhi,2011-05-21,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
546,2015,Bangalore,2015-04-29,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
571,2015,Bangalore,2015-05-17,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN

In [31]:
matches_df['winner']

id
1              Sunrisers Hyderabad
2           Rising Pune Supergiant
3            Kolkata Knight Riders
4                  Kings XI Punjab
5      Royal Challengers Bangalore
                  ...
632    Royal Challengers Bangalore
633    Royal Challengers Bangalore
634            Sunrisers Hyderabad
635            Sunrisers Hyderabad
636            Sunrisers Hyderabad
Name: winner, Length: 636, dtype: object

In [33]:
matches_df['winner'].isnull().sum()

3

In [35]:
winslost = matches_df[['team1', 'team2', 'winner']]
winslost.head()

,team1,team2,winner
id,,,
1,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad
2,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant
3,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders
4,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab
5,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore

In [38]:
winslost['looser'] = winslost.apply(lambda x: (x['team2'] if x['team1'] == x['winner'] else x['team1']), axis=1)

In [39]:
winslost.head()

,team1,team2,winner,looser
id,,,,
1,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore
2,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,Mumbai Indians
3,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,Gujarat Lions
4,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,Rising Pune Supergiant
5,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,Delhi Daredevils

In [40]:
wins = winslost['winner'].value_counts()
looser = winslost['looser'].value_counts()

In [41]:
wins, looser

(Mumbai Indians                 92
 Chennai Super Kings            79
 Kolkata Knight Riders          77
 Royal Challengers Bangalore    73
 Kings XI Punjab                70
 Rajasthan Royals               63
 Delhi Daredevils               62
 Sunrisers Hyderabad            42
 Deccan Chargers                29
 Gujarat Lions                  13
 Pune Warriors                  12
 Rising Pune Supergiant         10
 Kochi Tuskers Kerala            6
 Rising Pune Supergiants         5
 Name: winner, dtype: int64,
 Delhi Daredevils               85
 Royal Challengers Bangalore    78
 Kings XI Punjab                78
 Kolkata Knight Riders          71
 Mumbai Indians                 65
 Rajasthan Royals               54
 Chennai Super Kings            52
 Deccan Chargers                46
 Sunrisers Hyderabad            34
 Pune Warriors                  33
 Gujarat Lions                  17
 Rising Pune Supergiants         9
 Kochi Tuskers Kerala            8
 Rising Pune Supergiant          6
 Name: looser, dtype: int64)

In [ ]:
wins.iplot(kind='bar', xTitle='Team', yTitle='Count', title='Winning Counts')

In [ ]:
loosers.iplot(kind='bar', xTitle='Team', yTitle='Count', title='Looser Counts')